@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

.toast{
  top: 60px;
  left: 78vw;
  width: 20vw;
  font-size: 1.2vw;
}

.Toastify__toast{
  min-height: 5vw;
}

.Toastify__toast-body{
   padding: 0.1vw;
}

.Toastify__toast-icon {
  width: 1.5vw;
}

.Toastify__progress-bar{
  height: 0.4vw;
}

a{
  color: #333333;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  padding-inline: 15px;
  background: #FDFDFD;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}

.user{
  display: flex;
  align-items: center;
}

.user h1{
  font-size: 18px;
  padding-left: 10px;
  color: #333333;
}

.user button{
  padding: 0;
  font-size: 16px;
  margin-left: 5px;
  border: none;
  background-color: #FDFDFD;
  color: #333333;
  cursor: pointer;
}

.cart{
  display: flex;
  justify-content: center;
  align-items: center;
}

.qty-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  margin-right: 5px;
}
.qty{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.register{
  width: 80vw;
  padding-left: 20vw;
}

.register p{
  display: flex;
  justify-content:center;
  font-size: 14px;
  padding-top: 10px;
  color: black;
  border-bottom: none;
}

.register h6{
  text-align: right;
  font-size: 16px;
  padding-top: 10vh;
  color: #333333;
  font-weight: 450;
}

.subHead{
  display: flex;
  justify-content: center;
  border-bottom: black 1px solid;
  font-size: 30px;
  color: #333333;
  padding-bottom: 2.8vh;
}

.form{
  padding-top: 20px;
}

.form div{
  display: flex;
  justify-content:center;
  padding-block: 13px;
}

.form input{
  width: 400px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid black;
}

.form button{
  display: flex;
  justify-content:center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 18px;
  background: #333333;
  border: 1px solid #000000;
  border-radius: 8px;
  padding-inline: 40px;
  padding-block: 5px;
  border: none;
  cursor: pointer;
}

.form button:hover{
  background: #666666;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main{
  width: 90vw;
  padding-left: 10vw;
}

.title{
  font-size: 5vw;
  font-weight: 500;
  color: #333333;
  padding-top: 5vh;
  padding-bottom: 2vw;
}

.main h3{
  font-size: 1.8vw;
  padding-bottom: 2vw;
}

.products{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 38vw 38vw;
  grid-template-rows: repeat(3, 16vw);
  row-gap: 5vh;
  padding-bottom: 10vw;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEEEEE;
  border-radius: 2.5vw;
}

.image-container{
  background-color: white;
  border-radius: 2.5vw;
  height: 13.5vw;
  width: 13.5vw;
  margin-left: 1vw;
  align-items: center;
  text-align: center;
}

.image-container img{
  width: auto;
  height: 13.5vw;
  object-fit: fill;
}

.content{
  width: 22vw;
  height: 13.5vw;
  margin-right: 0.5vw;
}

.name {
  font-size: 1.8vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.price {
  font-size: 1.2vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.content h2{
  font-size: 1.4vw;
  padding-top: 0.8vw;
}
.content p{
  font-size: 1vw;
  padding-top: 0.3vw;
}

.btns{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-top: 1.5vw;
}

.buy-btn{
  font-size: 1.2vw;
  width: 9.5vw;
  height: 3vw;
  background: #FF2C2C;
  border-radius: 0.9vw;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.buy-btn:active{
  background: #ff6969d4;
}

.cart-section{
  border-bottom: black 1px solid;
}

.cart-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 11vw;
  width: 45vw;
  margin-left: 7.5vw;
}

.cart-content{
  height: 9vw;
  margin-right: 0.5vw;
}

.product-header{
  width: 28vw;
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
  align-items: center;
}

.cart-image{
  background-color: #EEEEEE;
  height: 9vw;
  width: 9vw;
  border-radius: 2.5vw;
  margin-left: 1vw;
  align-items: center;
  text-align: center;
}

.cart-image img{
  width: auto;
  height: 9vw;
  object-fit: fill;
}

.cart-h1{
  font-size: 1.4vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.desc{
  font-size: 1.4vw;
  padding-left: 2vw;
  padding-top: 0.8vw;
}

.desc-p{
  font-size: 1vw;
  padding-left: 2vw;
  padding-top: 0.3vw;
}

.remove{
  display: flex;
  justify-content: right;
  height: 9vw;
  width: 5vw;
}

.remove button{
  font-size: 1.5vw;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #FF2C2C;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.9vw;
  width: 1.9vw;
  border-radius: 0.5vw;
  border: none;
  cursor: pointer;
}

.remove button:active{
  background: #ff6969d4;
}

.total{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.9vw;
  padding-block: 2vw;
}

.pay{
  text-align: center;
  padding-bottom: 5vw;
}

.pay button{
  width: 13vw;
  font-size: 1.6vw;
}

@media (max-width: 600px) {
  
  .toast{
    top: 60px;
    left: 58vw;
    width: 40vw;
    font-size: 2.8vw;
  }
  
  .Toastify__toast{
    min-height: 10vw;
    max-height: 10vw;
    height: 10vw;
  }
  
  .Toastify__toast-body{
     padding: 0vw;
  }
  
  .Toastify__toast-icon {
    width: 3.5vw;
    margin-right: 1.5vw;
  }
  
  .Toastify__progress-bar{
    height: 0.7vw;
  }

  .register{
    width: 90vw;
    padding-left: 10vw;
  }

  .register p{
    font-size: 4.5vw;
    padding-top: 1.7vw;
    padding-bottom: 10vw;
  }

  .register h6{
    font-size: 4vw;
    padding-top: 6vh;
  }

  .subHead{
    font-size: 8vw;
    padding-bottom: 6vw;
  }

  .form{
    padding-top: 6vw;
  }

  .form div{
    padding-block: 3vw;
  }

  .form input{
    width: 70vw;
    height: 8vw;
    padding-left: 0.8vw;
    font-size: 4vw;
  }

  .form button{
    font-size: 6vw;
    border-radius: 2.6vw;
    padding-inline: 6.7vw;
    padding-block: 0.8vw;
  }

  .title{
    font-size: 10vw;
    padding-bottom: 4vw;  
  }

  .main h3{
    font-size: 3.6vw;
    padding-bottom: 4vw;
  }

  .products{
    grid-template-columns: 75vw;
    grid-template-rows: repeat(6, 32vw);
    justify-content: center;
  }

  .item{
    border-radius: 5vw;
  }

  .image-container{
    border-radius: 5vw;
    height: 27vw;
    width: 27vw;
    margin-left: 2vw;
  }

  .image-container img{
    height: 27vw;
  }

  .content{
    width: 43vw;
    height: 27vw;
    margin-right: 1vw;
  }
  
  .name {
    font-size: 3.6vw;
  }
  
  .price {
    font-size: 2.4vw;
  }

  .content h2{
    font-size: 2.8vw;
    padding-top: 1.6vw;
  }
  .content p{
    font-size: 2vw;
    padding-top: 0.6vw;
  }

  .btns{
    padding-right: 1.7vw;
    padding-top: 3vw;
  }
  
  .buy-btn{
    font-size: 2.4vw;
    width: 19vw;
    height: 6vw;
    border-radius: 1.8vw;
  }

  .cart-container{
    height: 24vw;
    width: 80vw;
    margin-left: 0;
  }

  .cart-content{
    height: 20vw;
    margin-right: 0.65vw;
  }

  .product-header{
    width: 50vw;
    padding-left: 2.6vw;
  }

  .cart-image{
    height: 20vw;
    width: 20vw;
    border-radius: 5.25vw;
    margin-left: 1.3vw;
  }

  .cart-image img{
    height: 20vw;
  }

  .cart-h1{
    font-size: 3vw;
  }
  
  .desc{
    font-size: 3vw;
    padding-left: 2.6vw;
    padding-top: 3vw;
  }

  .desc-p{
    font-size: 2.5vw;
    padding-left: 2.6vw;
    padding-top: 1.3vw;
  }
  
  .remove{
    height: 20vw;
    width: 7.5vw;
  }

  .remove button{
    font-size: 3vw;
    height: 4vw;
    width: 4vw;
    border-radius: 1vw;
    align-items: center;
  }

  .total{
    font-size: 5vw;
    padding-block: 3vw;
  }
  
  .pay{
    padding-bottom: 10vw;
  }
  
  .pay button{
    width: 30vw;
    height: 8vw;
    font-size: 5vw;
  }
}
